<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.almana.android.stilltimer"
    android:versionCode="201201211"
    android:versionName="1.0.1" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="ch.almana.android.stillmeter.view.activity.TabMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="ch.almana.android.stillmeter.provider.StillProvider"
            android:authorities="ch.almana.android.stilltimer" >
        </provider>

        <activity android:name="ch.almana.android.stillmeter.view.activity.TimerActivity" >
        </activity>
        <activity android:name="ch.almana.android.stillmeter.view.activity.DaysExpandList" >
        </activity>
        <activity android:name="ch.almana.android.stillmeter.view.activity.GraphActivity" >
        </activity>
        <activity android:name="ch.almana.android.stillmeter.view.preference.StillTimerPreference" >
        </activity>
        <activity android:name="ch.almana.android.stillmeter.view.activity.SessionEditor" >
            <intent-filter>
                <action android:name="android.intent.action.INSERT" >
                </action>

                <data android:mimeType="vnd.android.cursor.dir/ch.almana.android.stilltimer.session" >
                </data>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
            <intent-filter>
                <action android:name="ch.amana.android.cputuner.ACTION_INSERT_AS_NEW" >
                </action>
                <action android:name="android.intent.action.EDIT" >
                </action>

                <data android:mimeType="vnd.android.cursor.item/ch.almana.android.stilltimer.session" >
                </data>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
    </application>

</manifest>